@media screen and (max-width:1024px) {
    ul {
        width: 200px;
    }

    li {
        width: 200px;
        background-color: black;
        color: white;
        text-align: center;
    }

    li:hover {
        background-color: blueviolet;
    }

    nav>ul>li>ul {
        display: none;
    }

    li:hover ul {
        display: block;
        position: absolute;
        left: 270px;
    }
}
